<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administraci\u00F3n</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<h1>USUARIOS</h1>

<div>
    <button id="btnBack"></button>
</div>

<ul id="user-list"></ul>

<script src="/js/authHelper.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>
