<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>¡WOW, esa s\u00ED que no me la esperaba!</h1>
            <p>{{errorMessage}}</p>

            {{#debug}}
                <details style="margin-top: 1em; color: red;">
                    <summary>Detalles t\u00E9cnicos (solo para desarrollo)</summary>
                    <pre>{{debug}}</pre>
                </details>
            {{/debug}}

            <button id="logoutButton" class="btnLogout">Volver a la p\u00E1gina de inicio de sesi\u00F3n</button>
        </div>

        <script src="/js/actionsUser.js" defer></script>
    </body>

</html>
