<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/index.css">
        <title>Home</title>
    </head>
    <body data-uname="{{user.email}}">
        <h1>Proyectos</h1>

        <ul id="project-list">

        </ul>

        <button id="btnNewItem">Nuevo Proyecto</button>

        <div class="container">
            <button id="openUserOptions" class="user-options-btn">Mi Cuenta</button>
        </div>

        <div id="user-options" class="modalOptions modal hidden">
            <div class="modal-content">
                <h2>{{user.name}}</h2>

                <button id="btnEditUser" class="btnEditUser">Editar datos</button>

                <button id="btnManageGroups" class="btnManageGroups"> Gestionar grupos </button>

                <button id="logoutButton" class="btnLogout">Cerrar sesi&#243;n</button>

                <button id="deleteAccountBtn" type="button">Eliminar cuenta</button>

                {{#isAdmin}}
                    <button id="adminOptionsBtn" type="button"> Men&#250; admin </button>
                {{/isAdmin}}

            </div>
        </div>

        <div id="modalProject" class="modal hidden">
            <div class="modal-content">
                <h2>Nuevo Proyecto</h2>
                <form id="formNewProject">
                    <input type="text" id="name" name="name" placeholder="Nombre del proyecto" autocomplete="off" required>
                    {{#multipleGroups}}
                        <select name="groupId" required>
                            {{#ownedGroups}}
                                <option value="{{id}}">{{name}}</option>
                            {{/ownedGroups}}
                        </select>
                    {{/multipleGroups}}

                    {{^multipleGroups}}
                        <input type="hidden" name="groupId" value="{{singleGroup.id}}">
                    {{/multipleGroups}}

                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>

        <script src="/js/authHelper.js"></script>
        <script src="/js/pagination.js" defer></script>
        <script src="/js/index.js" defer></script>
        <script src="/js/actionsUser.js" defer></script>
    </body>
</html>
