<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/project.css">

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

        <!-- Library to sanitize the rich text field -->
        <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>


        <title>Proyecto</title>
    </head>
    <body data-userid="{{user.id}}">

        <div>
            <button id="btnBack"></button>
        </div>

        <h1>Lista de Tareas</h1>

        <form id="searchForm">
            <input type="text" id="searchTitle" placeholder="Buscar por t&#237;tulo" />
            <label id="filterImageLabel">
                Con Imagen<input type="checkbox" id="filterImage" />
            </label>
            <button type="submit">Buscar</button>
        </form>


        <ul id="task-list">
            {{#tasks}}
                <li class="task-item" data-taskid="{{id}}">
                    <div class="task-content">
                        <b>{{title}}</b>
                        <div class="task-description">{{{description}}}</div>
                        {{#imageBase64}}
                            <img src="data:image/jpeg;base64,{{imageBase64}}" style="max-width: 200px;">
                        {{/imageBase64}}
                        <button class="btnMoreOptions" data-taskid="{{id}}">
                            <img src="/img/menu.png" alt="More options" style="width:16px; height:16px;">
                        </button>
                    </div>

                    {{#imagePath}}
                        <div class="task-image" style="background-image: url('{{{imagePath}}}');"></div>
                    {{/imagePath}}

                    <div class="modalOptions modal">
                        <div class="modal-content">
                            <h2>{{title}}</h2>
                            <button class="btnDeleteTask" data-taskid="{{id}}">Eliminar Tarea</button>
                            <button class="btnEditTask" data-taskid="{{id}}">Editar Tarea</button>
                            <button class="btnDeleteImage" data-taskid="{{id}}">Quitar Im&aacute;gen</button>
                            {{#filename}}
                                <button class="btnGetLastReport" data-taskid="{{id}}">Abrir &Uacute;ltimo Informe</button>
                            {{/filename}}
                            <button class="btnGenerateReport" data-taskid="{{id}}">Generar Nuevo Informe</button>
                        </div>
                    </div>
                </li>
            {{/tasks}}
        </ul>


        <button id="btnNewItem">Nueva Tarea</button>

        <div id="modalTask" class="modal">
            <div class="modal-content">
                <h2>Nueva Tarea</h2>
                <form id="formNewTask" enctype="multipart/form-data">
                    <label>
                        <input type="text" name="title" placeholder="T&#237;tulo" autocomplete="off" required>
                    </label>

                    <label>
                        <div id="quill-editor" style="height: 200px;"></div>
                        <input type="hidden" name="description" id="description">
                    </label>

                    <label>
                        <input type="file" name="image" id="fileInput">
                        <span id="fileName">Sube una imagen</span>
                    </label>
                    <label>
                        <button type="submit">Guardar</button>
                    </label>
                </form>
            </div>
        </div>
        <div id="project-info" data-projectid="{{idproject}}"></div>

        <script src="/js/authHelper.js"></script>
        <script src="/js/project.js"></script>
    </body>
</html>